
body{
	background-image: url(./Images/hippy.gif);
	background-size:auto;
	color:white;
	font:helvetica;
	font-style: none;
	float:right;
	padding-left:(120px);
	padding-top: (60px);
}


 img{
	border:white, double (10px);
	padding-top: (20px);

}

}
